{# empty Twig template #}
<thead>
<tr>
    <th class="th_title">选择</th>
    <th class="th_title">序号</th>
    <th class="th_title">项目编码</th>
    <th class="th_title">项目名称</th>
    <th class="th_title">单位名称</th>
    <th class="th_title">应收款金额</th>
    <th class="th_title">已开票金额</th>
    <th class="th_title">本次申请开票金额</th>
    <th class="th_title">申请开票类型</th>
    <th class="th_title">申请开票内容</th>
    <th class="th_title">申请开票主体</th>
    <th class="th_title">申请人</th>
    <th class="th_title">申请日期</th>
    <th class="th_title">说明</th>
    <th class="th_title">操作</th>
</tr></thead>
{% for item in work_list %}
    <tr>
        <td><check type="checkbox"/></th>
<th>{{item.Id}}</th>
<th>{{item.ProCode}}</th>
<th>{{item.ProName}}</th>
<th>{{item.UnitName}}</th>
<th>{{item.ReceiveAmount}}</th>
<th>{{item.InvoicedAmount}}</th>
<th>{{item.ThisAmount}}</th>
<th>{{item.InvoiceType}}</th>
<th>{{item.InvoiceContent}}</th>
<th>{{item.InvoiceSub}}</th>
<th>{{item.ApplicantName}}</th>
<th>{{item.ApplicationTime |date('Y-m-d')}}</th>
<td>
    <input type="button" class="caozuo_1" onclick="toPage(137,{{item.Id}} )"   value="重新开票"/>
    <input type="button" class="caozuo_3"  onclick="deleteThis({{item.Id}})" value="删除"/></td>
</tr>
{% endfor %}



