{# empty Twig template #}
<tr>
    <th class="th_title">选择</th>
    <th class="th_title">序号</th>
    <th class="th_title">项目编码</th>
    <th class="th_title">项目名称</th>
    <th class="th_title">单位名称</th>
    <th class="th_title">应收款金额</th>
    <th class="th_title">已开票金额</th>
    <th class="th_title">申请开票金额</th>
    <th class="th_title">申请开票主体</th>
    <th class="th_title">申请人</th>
    <th class="th_title">申请日期</th>
    <th class="th_title">是否已开票</th>
    <th class="th_title">操作</th>
</tr>
{% for item in list %}
    <tr>
        <td><check type="checkbox"/></th>
<th>{{item.Id}}</th>
<th>{{item.ProCode}}</th>
<th>{{item.ProName}}</th>
<th>{{item.UnitName}}</th>
<th>{{item.ReceiveAmount}}</th>
<th>{{item.InvoicedAmount}}</th>
<th>{{item.ThisAmount}}</th>
<th>{{item.InvoiceSub}}</th>
<th>{{item.Applicant}}</th>
<th>{{item.ApplicationTime}}</th>
<th>{{item.InvoiceStatus}}</th>
<td>
    <input type="button" class="caozuo_1" onclick="toSubPage('../../modules/invoice/invoiceEnclosure.php', '查看', 2, 'see', '{{item.Id}}', '{{pagetype}}')"   value="查看"/>
    <input type="button" class="caozuo_1" onclick="toSubPage('../../modules/invoice/setApplyInvoice.php', '开票管理', 2, 'apply', '{{item.Id}}', '{{pagetype}}')"   value="申请开票"/>
    <input type="button" class="caozuo_1" onclick="toSubPage('../../modules/invoice/setApplyInvoice.php', '开票管理', 2, 'modify', '{{item.Id}}', '{{pagetype}}')"   value="重新开票"/>
    <input type="button" class="caozuo_3"  onclick="deleteThis({{item.TeacherId}})" value="删除"/></td>
</tr>
{% endfor %}



