{# empty Twig template #}
<?xml version="1.0" encoding="UTF-8"?>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{url}}css/invoice_enclosure.css" type="text/css" />
<script src="{{url}}js/invoice/set_invoice_enclosure.js" type="text/javascript"></script>

<style>
    .error{
        color:red;
    }
</style>
<div>
    <div>
        <iframe name="myiframe" style="display:none;" onload="iframeLoad(this);"></iframe>
        <form action="../../modules/invoice/action/actionPayment.php" method="post"
              enctype='multipart/form-data' target="myiframe" id="commentForm" >
            发票附件
            <div class="set_content_tb" id="invoice_content">
                <table  class="tb_invoice_enclosure" name="table_invoice" id="table_invoice"  border="1" cellspacing="0" >
                    <tr>
                        <th class="top_title" colspan="6">客户信息</th>
                    </tr>
                    <tr>
                        <td class="td_left_margin"  class="td_left_margin" colspan="2">单位名称</td>
                        <td  class="td_left_margin" colspan="4">{{info.UnitName}}</td>
                    </tr>
                    <tr>
                        <td class="td_left_margin"  colspan="2">统一社会信用代码</td>
                        <td class="td_left_margin"  colspan="4">{{info.CustomerCreditCode}}</td>
                    </tr>
                    <tr>
                        <td class="td_left_margin"  colspan="2">地址、电话</td>
                        <td class="td_left_margin"  colspan="4">{{info.CustomerAddress}}&nbsp;{{info.CustomerPhone}}</td>
                    </tr>
                    <tr>
                        <td class="td_left_margin"  colspan="2">开户行及帐号</td>
                        <td class="td_left_margin"  colspan="4">{{info.CustomerOpenBank}}&nbsp;{{info.CustomerBankAccount}}</td>
                    </tr>
                    <tr>
                        <td class="td_left_margin"  >序号</td>
                        <td class="td_left_margin"  >姓名</td>
                        <td class="td_left_margin"  >身份证号</td>
                        <td  class="td_left_margin" >培训科目</td>
                        <td class="td_left_margin"  >培训类别</td>
                        <td class="td_left_margin"  >收费标准</td>
                    </tr>
                    {% for item in info.studentinfo %}
                        <tr>
                            <td class="td_left_margin"  >{{item.Id}}</td>
                            <td class="td_left_margin"  > {{item.StudentName}}</td>
                            <td class="td_left_margin"  >{{item.StudentNum}}</td>
                            <td class="td_left_margin"  > {{info.SubTrainingName}}</td>
                            <td class="td_left_margin"  >{{info.SubTypeName}}</td>
                            <td class="td_left_margin"  >&nbsp; {{item.ChargeAmount}}</td>
                        </tr>
                    {% endfor %}
                    <tr> 
                        <td class="td_left_margin"  >合计</td>
                        <td class="td_left_margin"  >大写</td>
                        <td class="td_left_margin" colspan="2" >{{info.rmb}}</td>
                        <td class="td_left_margin"  >小写</td>
                        <td class="td_left_margin"  >{{info.ThisAmount}}</td>
                    </tr>
                    <tr> 
                        <td class="top_title"  colspan="6">培训单位信息</td>
                    </tr>
                    <tr> 
                        <td class="td_left_margin"  colspan="2">单位名称</td>
                        <td class="td_left_margin"  colspan="4">{{info.InvoiceSub}}</td>
                    </tr>
                    <tr> 
                        <td class="td_left_margin"  colspan="2">统一社会信用代码</td>
                        <td class="td_left_margin"  colspan="4">{{info.OrgCreditCode}}</td>
                    </tr>
                    <tr> 
                        <td class="td_left_margin"  colspan="2">地址、电话</td>
                        <td class="td_left_margin"  colspan="4">{{info.OrgOrgAddress}}&nbsp;{{info.OrgOrgPhone}}</td>
                    </tr>
                    <tr> 
                        <td class="td_left_margin"  colspan="2">开户行及帐号</td>
                        <td class="td_left_margin"  colspan="4">{{info.OrgOpenBank}}{{info.OrgBankAccount}}</td>
                    </tr>
                </table>
            </div>
            <div class="bottom_button">
                <input type="text" name="id" hidden="hidden" value="{{info.Id}}"/>
                <input  id="write_date" name="write_date" class="input_text" {% if info.WriteDate %}value="{{info.WriteDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" hidden="hidden"  >
                <input type="submit" name="{{btn}}"  class="comm_button button_save" value="保存"/>
                <input type="button" onclick="Download()" name="close" class="comm_button button_close" value="下载"/>
                <input type="button" onclick="Print()" name="close" class="comm_button button_close" value="打印"/>
                <input type="button" onclick="toClose({{mid}},{{pid}} )" name="close" class="comm_button button_close" value="关闭"/>
            </div>
        </form>
    </div>
</div>


