{# empty Twig template #}
<?xml version="1.0" encoding="UTF-8"?>
<script src="{{url}}js/invoice/set_payment.js" type="text/javascript"></script>
<style>
    .error{
        color:red;
    }
</style>
<div>
    <div>
        <iframe name="myiframe" style="display:none;" onload="iframeLoad(this);"></iframe>
        <form action="../../modules/invoice/action/actionPayment.php" method="post"
              enctype='multipart/form-data' target="myiframe" id="commentForm" >
            <div class="set_content_tb">
                <table class="tb_set" >
                    <tr>
                        <td>项目编号</td>
                        <td class="td_left"><input {{readonly}}  id="pro_code" name="pro_code" class="input_text" type="text" value="{{info.ProCode}}" required></td >
                        <td>项目名称</td>
                        <td  class="td_left">
                            <input {{readonly}} id="pro_name" name="pro_name"  class="input_text" type="text" value="{{info.ProName}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>单位名称</td>
                        <td  class="td_left">
                            <input {{readonly}} id="unit_name" name="unit_name"  class="input_text" type="text" value="{{info.UnitName}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>发票号码</td>
                        <td  class="td_left">
                            <input {{readonly}} id="invoice_num" name="invoice_num"  class="input_text" type="text" value="{{info.InvoiceNum}}"/>
                        </td>
                        <td>开票日期</td>
                        <td  class="td_left">
                            <input  id="invoice_date" name="invoice_date" class="input_text" {% if info.InvoiceDate %}value="{{info.InvoiceDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required>
                        </td>
                    </tr>
                    <tr>
                        <td>回款金额</td><td  class="td_left">
                            <input {{readonly}} id="payment_amount" name="payment_amount"  class="input_text" type="text" value="{{info.PaymentAmount}}"/>
                        </td>

                    </tr>
                    <tr>                        
                        <td>回款日期</td><td  class="td_left">
                            <input  id="payment_date" name="payment_date" class="input_text" {% if info.PaymentDate %}value="{{info.PaymentDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required>
                        </td></tr>
                    <tr>
                        <td>回款主体</td><td  class="td_left">
                            <input {{readonly}}  id="payment_sub" name="payment_sub"  class="input_text" type="text" value="{{info.PaymentSub}}" required>
                        </td>
                        <td>回款方式</td><td  class="td_left">
                            <select class="select userrole" name="payment_type" id="payment_type">                            
                                <option class="select" {% if info.PaymentType=='现金' %}selected="selected"{% else %}{% endif %} value="现金" >现金</option>
                                <option class="select"  {% if info.PaymentType=='支票' %}selected="selected"{% else %}{% endif %}  value="支票" >支票</option>
                                <option class="select"  {% if info.PaymentType=='转账' %}selected="selected"{% else %}{% endif %}  value="转账" >转账</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>凭证号</td>
                        <td  class="td_left"> <input  id="voucher_num" name="voucher_num"  class="input_text" type="text" value="{{info.VoucherNum}}"/></td>
                    </tr>
                    <tr>
                        <td>经办人</td>
                        <td  class="td_left">
                            <select class="select userrole" name="agent" id="agent" required>
                                {% for item in write_person %}
                                    <option class="select" {% if info.Agent==item.UserId %}selected="selected"{% else %}''{% endif %} value="{{item.UserId}}" >{{item.UserName}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>说明</td>
                        <td  class="td_left" colspan="3"><textarea {{readonly}} id="payment_desc" name="payment_desc"  class="input_textarea" type="text">{{info.PaymentDesc}}</textarea></td>
                    </tr>
                </table>
                <div class="bottom_button">
                    <input type="text" name="id" hidden="hidden" value="{{info.Id}}"/>
                    <input type="text" id="unitid" name="unitid" hidden="hidden" value="{{info.UnitId}}"/>
                    <input  id="write_date" name="write_date" class="input_text" {% if info.WriteDate %}value="{{info.WriteDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" hidden="hidden"  >
                    <input type="submit" name="{{btn}}"  class="comm_button button_save" value="保存"/>
                    <input type="button" onclick="toPage('../../modules/invoice/Payment.php?pagetype={{pagetype}}')" name="close" class="comm_button button_close" value="关闭"/>
                    <!--设置弹出窗口-->  
                    <div id="AddSearchSourcePanel" style="display:none">
                    </div>  
                </div>
            </div>
        </form>
    </div>
</div>


