{# empty Twig template #}
<?xml version="1.0" encoding="UTF-8"?>
<script src="{{url}}js/teach/set_achievement.js" type="text/javascript"></script>
<style>
    .error{
        color:red;
    }
</style>
<div>
    <div>
        <iframe name="myiframe" style="display:none;" onload="iframeLoad(this);"></iframe>
        <form action="../../modules/teach/action/actionAchievement.php" method="post"
              enctype='multipart/form-data' target="myiframe" id="commentForm" >
            <div class="set_content_tb">
                <table class="tb_set" >
                    <tr>
                        <td>项目编号</td>
                        <td class="td_left"><input  id="pro_code" name="pro_code" class="input_text" type="text" value="{{info.ProCode}}" required></td >
                    </tr>
                    <tr>
                        <td>项目名称</td>
                        <td  class="td_left">
                            <input {{readonly}} id="pro_name" name="pro_name"  class="input_text" type="text" value="{{info.ProName}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>姓名</td><td  class="td_left">
                            <input {{readonly}} id="student_name" name="teacher_pnum"  class="input_text" type="text" value="{{studentinfo.StudentName}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>身份证号</td>
                        <td  class="td_left"><input  id="student_num" name="student_num" class="input_text" value="{{studentinfo.StudentNum}}" type="text" required></td>
                    </tr>
                    <tr>
                        <td>单位名称</td>
                        <td  class="td_left"><input  id="unit_name" name="unit_name" class="input_text"  value="{{studentinfo.UnitName}}"  type="text" required></td>
                    </tr>
                    <tr>
                        <td>联系方式</td>
                        <td  class="td_left"><input  id="student_phone" name="student_phone" class="input_text"  value="{{studentinfo.StudentPhone}}"  type="text" required></td>
                    </tr>
                    <tr>
                        <td>理论成绩</td>
                        <td  class="td_left"><input  id="theory_ach" name="theory_ach" class="input_text"  value="{{info.TheoryAch}}"  type="text" required></td> 
                    </tr>
                    <tr>
                        <td>考试时间</td>
                        <td  class="td_left">
                            <input  id="theoryexamtime" name="theoryexamtime" class="input_text" {% if info.TheoryExamTime %}value="{{info.TheoryExamTime}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required> 

                        </td>
                        <td>考试地点</td>
                        <td  class="td_left"><input  id="theoryexamaddress" name="theoryexamaddress" class="input_text"  value="{{info.TheoryExamAddress}}"  type="text" required></td>  
                    </tr>
                    <tr>
                        <td>实操成绩</td>
                        <td  class="td_left">
                            <input  id="actualoperatach" name="actualoperatach" class="input_text"  value="{{info.ActualOperatAch}}"  type="text"></td>
                    </tr>  
                    <tr>
                        <td>考试时间</td>
                        <td  class="td_left">                    
                            <input  id="actualexamtime" name="actualexamtime" class="input_text" {% if info.ActualExamTime %}value="{{info.ActualExamTime}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required> </td>
                        <td>考试地点</td>
                        <td  class="td_left"><input  id="actualexamaddress" name="actualexamaddress" class="input_text"  value="{{info.ActualExamAddress}}"  type="text" required></td>  
                    </tr>
                    <tr>
                        <td>考试是否通过</td>
                        <td  class="td_left">
                            <select class="select userrole" name="isadopt" id="isadopt">
                                <option class="select" {% if info.IsAdopt==0 %}selected="selected"{% else %}''{% endif %} value="0">是</option>
                                <option class="select" {% if info.IsAdopt==1 %}selected="selected"{% else %}''{% endif %} value="1">否</option> 
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>录入人</td>
                        <td  class="td_left">
                            <select class="select userrole" name="write_person" id="write_person">
                                {% for item in write_person %}
                                    <option class="select" {% if info.WritePerson==item.UserId %}selected="selected"{% else %}''{% endif %} value="{{item.UserId}}" >{{item.UserName}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>录入日期</td>
                        <td  class="td_left"><input  id="write_date" name="write_date" class="input_text" {% if info.WriteDate %}value="{{info.WriteDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                    </tr>
                </table>
                <div class="bottom_button">
                    <input type="text" id="id" name="id" hidden="hidden" value="{{info.Id}}"/>
                    <input type="text" id="student_id" name="student_id" hidden="hidden" value="{{studentinfo.StudentId}}"/>
                    <input type="submit" name="{{btn}}"  class="comm_button button_save" value="保存"/>
                    <input type="button"  onclick="toClose({{mid}},{{pid}} )"  name="close" class="comm_button button_close" value="关闭"/>
                </div>
            </div>
        </form>
    </div>
</div>


