{# empty Twig template #}
<tr>
    <th class="th_title">选择</th>
    <th class="th_title">序号</th>
    <th class="th_title">角色名称</th>
    <th class="th_title">角色描述</th>
    <th class="th_title">状态</th>
    <th class="th_title">操作</th>
</tr>
{% for item in roles_list %}
    <tr>
        <td><check type="checkbox"/></th>
<th>{{item.RoleId}}</th>
<th>{{item.RoleName}}</th>
<th>{{item.RoleDesc}}</th>
<th>{{item.RoleStatus}}</th>
<td>
    <input type="button" class="caozuo_1" onclick="toSubPage('../../modules/setting/setRole.php', '角色管理', 2, 'modify', '{{item.RoleId}}', '{{pagetype}}')"   value="修改"/>
    <input type="button" class="caozuo_3"  onclick="deleteThis({{item.RoleId}})" value="删除"/></td>
</tr>
{% endfor %}



