{# empty Twig template #}
<?xml version="1.0" encoding="UTF-8"?>
<script src="{{url}}js/teach/set_user.js" type="text/javascript"></script>
<style>
    .error{
        color:red;
    }
</style>
<div>
    <div>
        <iframe name="myiframe" style="display:none;" onload="iframeLoad(this);"></iframe>
        <form action="../../modules/setting/action/actionUser.php" method="post"
              enctype='multipart/form-data' target="myiframe" id="commentForm" >
            <div class="set_content_tb">
                <table class="tb_set" >
                    <tr>
                        <td>帐号</td>
                        <td class="td_left"><input  id="user_account" name="user_account" class="input_text" type="text" value="{{info.UserAccount}}" required></td >
                        <td>密码</td>
                        <td class="td_left"><input  id="user_pass" name="user_pass" class="input_text" type="text" value="{{info.UserPassword}}" required></td >
                        <td>确认密码</td>
                        <td class="td_left"><input  id="user_pass_fomat" name="user_pass_fomat" class="input_text" type="text" value="{{info.UserPassword}}" required></td >
                    </tr>
                    <tr>
                        <td>员工编号</td>
                        <td  class="td_left">
                            <input {{readonly}} id="user_code" name="user_code"  class="input_text" type="text" value="{{info.UserCode}}"/>
                        </td>
                        <td>角色</td>
                        <td  class="td_left">
                            <select {{readonly}} class="select userrole" name="user_role" id="user_role">
                                {% for item in role_list %}
                                    <option class="select" value="{{item.RoleId}}" {% if info.UserRoleId==item.RoleId %}selected="selected"{% else %}''{% endif %}>{{item.RoleName}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>部门</td>
                        <td  class="td_left">
                            <select {{readonly}} class="select userrole" name="user_depart" id="user_depart">
                                {% for item in depart_list %}
                                    <option class="select" value="{{item.DepartId}}" {% if info.UserDepart==item.DepartId %}selected="selected"{% else %}''{% endif %}>{{item.DepartName}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>姓名</td><td  class="td_left">
                            <input {{readonly}} id="user_name" name="user_name"  class="input_text" type="text" value="{{info.UserName}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>联系方式</td>
                        <td  class="td_left"><input  id="user_phone" name="user_phone" class="input_text" value="{{info.Phone}}" type="text"/></td>
                        <td>身份证号</td>
                        <td  class="td_left"><input  id="user_num" name="user_num" class="input_text"  value="{{info.UserNum}}"  type="text"/></td>
                        <td>家庭住址</td>
                        <td  class="td_left"><input  id="user_address" name="user_address" class="input_text" value="{{info.Address}}" type="text" /></td>
                    </tr>
                </table>
                <div class="bottom_button">
                    <input type="text" name="id" hidden="hidden" value="{{info.UserId}}"/>
                    <input type="submit" name="{{btn}}"  class="comm_button button_save" value="保存"/>
                    <input type="button"  onclick="toClose({{mid}},{{pid}} )"  name="close" class="comm_button button_close" value="关闭"/>
                </div>
            </div>
        </form>
    </div>
</div>


