{# empty Twig template #}
<tr>
    <th class="th_title">选择</th>
    <th class="th_title">序号</th>
    <th class="th_title">项目编号</th>
    <th class="th_title">项目名称</th>
    <th class="th_title">业务类型</th>
    <th class="th_title">开课日期</th>
    <th class="th_title">结课日期</th>
    <th class="th_title">课程天数</th>
    <th class="th_title">上课人数</th>
    <th class="th_title">班主任</th>
    <th class="th_title">绩效总额</th>
    <th class="th_title">结算情况</th>
    <th class="th_title">结算人</th>
    <th class="th_title">结算日期</th>
    <th class="th_title">操作</th>
</tr>
{% for item in list %}
    <tr>
        <td><check type="checkbox"/></th>
<th>{{item.Id}}</th>
<th>{{item.ProCode}}</th>
<th>{{item.ProName}}</th>
<th>{{item.BusTypeName}}</th>
<th>{{item.TeachStartDate}}</th>
<th>{{item.TeachEndDate}}</th>
<th>{{item.TeachDays}}</th>
<th>{{item.StuCount}}</th>
<th>{{item.HeaderMasterName}}</th>
<th>{{item.TeacherACH}}</th>
<th>{{item.Status}}</th>
<th>{{item.UserName}}</th>
<th>{{item.SettlementDate}}</th>
<td>
    <input type="button" class="caozuo_3"  onclick="SettlementThis({{item.Id}})" value="结算"/>
    <input type="button" class="caozuo_3"  onclick="deleteThis({{item.RachId}})" value="删除"/></td>
</tr>
{% endfor %}



