<link rel="stylesheet" href="{{url}}css/proportion_ach.css" type="text/css" />
<script src="{{url}}js/jquery.validate.min.js" type="text/javascript"></script>
<script src="{{url}}js/settlement/proportion_ach.js" type="text/javascript"></script>
<div id="main_page">
    <div>
        <input type="text" id="pagetype" name="pagetype" hidden="hidden" value="{{pagetype}}"/>
        <div>
            <table id="tb_view"  cellspacing="0" border="1">
                <tr>
                    <td></td>
                    {% for per in performance %}
                        <td>
                            {{per.PerformanceLevelName}}
                        </td>
                    {% endfor %}
                    <td>   <input type="button" class="add_new" onclick="toPage(146)"  value="添加单位级别"/></td>
                </tr>
                {% for bus in bustype %}
                    <tr>
                        <td>
                            {{bus.BusTypeName}}
                        </td>
                        {% for per in performance %}
                            <td>
                                {% set ishave=0 %}
                                {% for item in list %}
                                    {% if item.PerformanceLevelId==per.Id and item.BusTypeId==bus.Id %}
                                        {% set ishave=1 %}
                                        <input id="proportion" name="proportion" type="text" class="input_p" value="{{item.Proportion}}" onblur="modify({{per.Id}},{{ bus.Id}} , '{{per.PerformanceLevelName}}', '{{bus.BusTypeName}}', this);" />
                                    {% endif %}
                                    {% if loop.revindex0==0 and ishave==0%}
                                        <input id="proportion" name="proportion" type="text" class="input_p" value="0" onblur="modify({{per.Id}},{{ bus.Id}} , '{{per.PerformanceLevelName}}', '{{bus.BusTypeName}}', this);"/>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>

                {% endfor %}
                <tr><td> <input type="button" class="add_new" onclick="toPage(147)"   value="添加业务类别"/></td></tr>
            </table>
        </div>
    </div>
</div>

<div id="sub_page"></div>