{# empty Twig template #}
<?xml version="1.0" encoding="UTF-8"?>
<script src="{{url}}js/cert/set_cert_receive.js" type="text/javascript"></script>
<style>
    .error{
        color:red;
    }
</style>
<div>
    <div>
        <iframe name="myiframe" style="display:none;" onload="iframeLoad(this);"></iframe>
        <form action="../../modules/cert/action/actionCertReceive.php" method="post"
              enctype='multipart/form-data' target="myiframe" id="commentForm" >
            <div class="set_content_tb">
                <table class="tb_set" >
                    <tr>
                        <td>证书编号</td>
                        <td  class="td_left"><input  id="cert_code" name="cert_code" class="input_text"  value="{{cert_info.CertCode}}"  type="text" required></td>
                    </tr>
                    <tr>
                        <td>项目编号</td>
                        <td class="td_left"><input  id="pro_code" name="pro_code" class="input_text" type="text" value="{{cert_info.ProCode}}" required></td >
                        <td>项目名称</td>
                        <td  class="td_left">
                            <input {{readonly}} id="pro_name" name="pro_name"  class="input_text" type="text" value="{{cert_info.ProName}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>培训科目</td>
                        <td  class="td_left">
                            <select {{readonly}} class="select userrole" name="sub_training" id="sub_training">
                                {% for item in sub_training %}
                                    <option class="select" value="{{item.Id}}" {% if cert_info.SubTraining==item.Id %}selected="selected"{% else %}''{% endif %} >{{item.Name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>培训类别</td>
                        <td  class="td_left">
                            <select {{readonly}} class="select userrole" name="sub_type" id="sub_type">
                                {% for item in sub_type %}
                                    <option class="select" value="{{item.Id}}" {% if cert_info.SubType==item.Id %}selected="selected"{% else %}''{% endif %}>{{item.Name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>姓名</td><td  class="td_left">
                            <input {{readonly}} id="student_name" name="student_name"  class="input_text" type="text" value="{{student_info.StudentName}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>身份证号</td>
                        <td  class="td_left"><input  id="student_num" name="student_num" class="input_text" value="{{student_info.StudentNum}}" type="text" required></td>
                        <td>单位名称</td>
                        <td  class="td_left"><input  id="unit_name" name="unit_name" class="input_text"  value="{{student_info.UnitName}}"  type="text" required></td>
                    </tr>
                    <tr>
                        <td>联系方式</td>
                        <td  class="td_left"><input  id="student_phone" name="student_phone" class="input_text"  value="{{cert_info.Phone}}"  type="text" required></td>
                    </tr> 

                    <tr>
                        <td>下次复审时间</td>
                        <td  class="td_left"><input  id="nextexam_date" name="nextexam_date" class="input_text" {% if cert_info.NextExamDate %}value="{{cert_info.NextExamDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                    </tr>
                    <tr>
                        <td>证书领取人</td>
                        <td  class="td_left"><input  id="receive_person" name="receive_person" class="input_text"  value="{{info.ReceivePerson}}"  type="text" required></td>
                        <td>证书领取人电话</td>
                        <td  class="td_left"><input  id="recieve_phone" name="recieve_phone" class="input_text"  value="{{info.RecievePhone}}"  type="text" required></td>
                    </tr>
                    <tr>
                        <td>证书领取日期</td>
                        <td  class="td_left"><input  id="receive_date" name="receive_date" class="input_text" {% if info.ReceiveDate %}value="{{info.ReceiveDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                    </tr>
                    <tr>
                        <td>上传签收表</td>
                        <td  class="td_left"><input  id="sign_form" name="sign_form" class="input_text" {% if info.SignForm %}value="{{info.SignForm}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                    </tr>
                    <tr>
                        <td>录入人</td>
                        <td  class="td_left">
                            <select class="select userrole" name="write_person" id="write_person">
                                {% for item in write_person %}
                                    <option class="select" {% if info.ReceiveWritePerson==item.UserId %}selected="selected"{% else %}''{% endif %} value="{{item.UserId}}" >{{item.UserName}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>录入日期</td>
                        <td  class="td_left"><input  id="write_date" name="write_date" class="input_text" {% if info.ReceiveWriteDate %}value="{{info.ReceiveWriteDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                    </tr>
                </table>
                <div class="bottom_button">
                    <input type="text" id="id" name="id" hidden="hidden" value="{{info.Id}}"/>
                    <input type="text" id="certid" name="certid" hidden="hidden" value="{{info.CertId}}"/>
                    <input type="submit" name="{{btn}}"  class="comm_button button_save" value="保存"/>
                    <input type="button" onclick="toClose({{mid}},{{pid}} )"  name="close" class="comm_button button_close" value="关闭"/>
                </div>
            </div>
        </form>
    </div>
</div>


