<thead><tr>
    <th class="th_title">选择</th>
    <th class="th_title">序号</th>
    <th class="th_title">项目编码</th>
    <th class="th_title">项目名称</th>
    <th class="th_title">培训科目</th>
    <th class="th_title">培训类别</th>
    <th class="th_title">姓名</th>
    <th class="th_title">身份证号</th>
    <th class="th_title">单位名称</th>
    <th class="th_title">联系电话</th>
    <th class="th_title">录入人</th>
    <th class="th_title">录入时间</th>
    <th class="th_title">金额</th>
    <th class="th_title">是否已开发票</th>
    <th class="th_title">操作</th>
</tr></thead>
{% for item in project_list %}
    <tr>
        <td><check type="checkbox"/></td>
<td>{{item.Id}}</td>
<th>{{item.ProjectCode}}</th>
<th>{{item.ProjectName}}</th>
<th>{{item.SubTrainingName}}</th>
<th>{{item.SubTypeName}}</th>
<th>{{item.StudentName}}</th>
<th>{{item.StudentNum}}</th>
<th>{{item.UnitName}}</th>
<th>{{item.StudentPhone}}</th>
<th>{{item.WritePersonName}}</th>
<th>{{item.WriteDate}}</th>
<th>{{item.ChargeAmount}}</th>
<th>{{item.IsInvoice}}</th>
<td>
    <input type="button" class="caozuo_1" onclick="toPage(107,{{item.Id}} )" value="修改"/>
    <input type="button" class="caozuo_3"  onclick="deleteThis({{item.Id}})" value="删除"/></td>
</tr>
{% endfor %}



