<?xml version="1.0" encoding="UTF-8"?>
<link rel="stylesheet" href="{{url}}css/bustype.css" type="text/css" />

<style>
    .error{
        color:red;
    }
</style>
<div>
    <div>
        <iframe name="myiframe" style="display:none;" onload="iframeLoad(this);"></iframe>
        <form action="../../modules/project/action/actionBusType.php" method="post"
              enctype='multipart/form-data' target="myiframe" id="commentForm" >
            <div class="set_content_tb" >
                <table class="tb_set" >
                    <tr>
                        <td>业务类型</td>
                        <td class="td_left"><input  id="bustype_name" name="bustype_name" class="input_text" type="text" value="{{info.BusTypeName}}" required></td >
                    </tr>
                </table>
                <div class="bottom_button">
                    <input type="text" name="id" hidden="hidden" value="{{info.Id}}"/>

                    <input type="submit" name="{{btn}}"  class="comm_button button_save" value="保存"/>
                    <input type="reset" name="reset" class="comm_button button_clear" value="清空"/>

                    {% if from=='bus' %}
                        <input type="button" onclick="toClose({{mid}},{{pid}} )"  name="close" class="comm_button button_close" value="关闭"/>
                    {%else%}
                        <input type="button" onclick="toClose({{mid}},{{pid}} )"  name="close" class="comm_button button_close" value="关闭"/>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>


