{# empty Twig template #}
<link rel="stylesheet" href="{{url}}css/all_teacher.css" type="text/css" />
<script src="{{url}}js/jquery.validate.min.js" type="text/javascript"></script>
<script src="{{url}}js/report/customer.js" type="text/javascript"></script>
<div id="main_page">
    <div>
        <input type="text" id="pagetype" name="pagetype" hidden="hidden" value="{{pagetype}}"/>
        <div>
            <table class="tb_view">
                <tr>  
                    <td width="80%"> 
                        <select class="select" name="work_class" id="work_class">
                            <option class="select" value="0" >工作名称</option>
                            <option class="select" value="1" >工作内容</option>
                            <option class="select" value="2" >记录人</option>
                        </select>
                        <input type="text" class="search_box interval" placeholder="请输入搜索内容" id="search" name="search"/>
                        <input type="button" class="btn_search" value="搜索"/></td>
                    <td>
                        <input type="button" class="export_excel userrole"  onclick="toExport('customer_report_tb')" value="导出Excel表格"/>
                    </td>   
                </tr>
            </table>      
            <div id="customer_report_tb">
                <table id="list">
                    <thead><tr>
                            <th class="th_title">选择</th>
                            <th class="th_title">序号</th>
                            <th class="th_title">单位名称</th>
                            <th class="th_title">时间</th>
                            <th class="th_title">操作</th>
                        </tr></thead>
                        {% for item in list %}
                        <tr>
                            <th><input type='checkbox' name="line_check"/></th>
                            <th>{{item.CustomerId}}</th>
                            <th>{{item.CustomerName}}</th>
                            <th>{{item.ExamDate|date('Y-m-d')}}</th>
                            <td>
                                <input type="button" class="caozuo_1" onclick="toPage(161,{{item.CustomerId}} )"   value="拜访沟通记录"/>
                                <input type="button" class="caozuo_1" onclick="toPage(162,{{item.CustomerId}} )"   value="学员情况"/>
                                {#                           <input type="button" class="caozuo_1" onclick="toSubPage('../../modules/report/setExpenditure.php', '收费情况', 2, 'knot', '{{item.CustomerId}}', '{{pagetype}}')"   value="收费情况"/>#}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div id="sub_page"></div>