{# empty Twig template #}
<script src="{{url}}js/teach/set_teacharrange.js" type="text/javascript"></script>
<style>
    .error{
        color:red;
    }
</style>
<div>
    <div>
        <iframe name="myiframe" style="display:none;" onload="iframeLoad(this);"></iframe>
        <form action="../../modules/teach/action/actionTeachArrange.php" method="post"
              enctype='multipart/form-data' target="myiframe" id="commentForm" >
            <div class="set_content_tb">
                <table class="tb_set" {{readonly}} >
                    <tr>
                        <td>项目编号</td>
                        <td class="td_left"><input {{readonly}}  id="pro_code" name="pro_code" class="input_text" type="text" value="{{info.ProCode}}" required></td >
                        <td>项目名称</td>
                        <td  class="td_left">
                            <input {{readonly}} id="pro_name" name="pro_name"  class="input_text" type="text" value="{{info.ProName}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>培训分类</td>
                        <td  class="td_left">
                            <select  disabled='disabled' class="select userrole" name="project_type" id="project_type">
                                {% for item in project_type %}
                                    <option class="select" value="{{item.Id}}" {% if info.ProjectType==item.Id %}selected="selected"{% else %}''{% endif %}>{{item.Name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>培训科目</td>
                        <td  class="td_left">
                            <select disabled='disabled' class="select userrole" name="sub_training" id="sub_training">
                                {% for item in sub_training %}
                                    <option class="select" value="{{item.Id}}" {% if info.SubTraining==item.Id %}selected="selected"{% else %}''{% endif %} >{{item.Name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>培训类别</td>
                        <td  class="td_left">
                            <select disabled='disabled' class="select userrole" name="sub_type" id="sub_type">
                                {% for item in sub_type %}
                                    <option class="select" value="{{item.Id}}" {% if info.SubType==item.Id %}selected="selected"{% else %}''{% endif %}>{{item.Name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>上课开始日期</td>
                        <td  class="td_left"><input {{readonly}}  id="teach_start_date" name="teach_start_date" class="input_text" {% if info.TeachStartDate %}value="{{info.TeachStartDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                        <td>上课结束日期</td>
                        <td  class="td_left"><input {{readonly}}  id="teach_end_date" name="teach_end_date" class="input_text" {% if info.TeachEndDate %}value="{{info.TeachEndDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                        <td>课程天数</td>
                        <td class="td_left"><input {{readonly}}  id="teacher_days" name="teacher_days" class="input_text" type="text" value="{{info.TeachDays}}" required>天</td >
                    </tr>
                    <tr>
                        <td>班主任</td>
                        <td class="td_left"><input {{readonly}}  id="header_master" name="header_master" class="input_text" type="text" value="{{info.HeaderMasterName}}" required></td >
                    </tr>
                    <tr>
                        <td>上课教师1</td>
                        <td  class="td_left">
                            <input {{readonly}} id="teacher_first" name="teacher_first"  class="input_text" type="text" value="{{info.first_teacher}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>上课开始日期</td>
                        <td  class="td_left"><input {{readonly}}  id="startdate_first" name="startdate_first" class="input_text" {% if info.StartDateFirst %}value="{{info.StartDateFirst}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                        <td>上课结束日期</td>
                        <td  class="td_left"><input {{readonly}}  id="enddate_first" name="enddate_first" class="input_text" {% if info.EndDateFirst %}value="{{info.EndDateFirst}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                        <td>课程天数</td>
                        <td class="td_left"><input {{readonly}}  id="teachdays_first" name="teachdays_first" class="input_text" type="text" value="{{info.TeachDaysFirst}}" required>天</td >
                    </tr>
                    <tr>
                        <td>上课教师2</td>
                        <td  class="td_left">
                            <input {{readonly}} id="teacher_second" name="teacher_second"  class="input_text" type="text" value="{{info.second_teacher}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>上课开始日期</td>
                        <td  class="td_left"><input {{readonly}}  id="startdate_second" name="startdate_second" class="input_text" {% if info.StartDateSecond %}value="{{info.StartDateSecond}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                        <td>上课结束日期</td>
                        <td  class="td_left"><input {{readonly}}  id="enddate_second" name="enddate_second" class="input_text" {% if info.EndDateSecond %}value="{{info.EndDateSecond}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                        <td>课程天数</td>
                        <td class="td_left"><input {{readonly}}  id="teachdays_second" name="teachdays_second" class="input_text" type="text" value="{{info.TeachDaysSecond}}" required>天</td >
                    </tr>
                    <tr>
                        <td>上课教师3</td>
                        <td  class="td_left">
                            <input {{readonly}} id="teacher_third" name="teacher_third"  class="input_text" type="text" value="{{info.third_teacher}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>上课开始日期</td>
                        <td  class="td_left"><input {{readonly}}  id="startdate_third" name="startdate_third" class="input_text" {% if info.StartDateThird %}value="{{info.StartDateThird}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                        <td>上课结束日期</td>
                        <td  class="td_left"><input {{readonly}}  id="enddate_third" name="enddate_third" class="input_text" {% if info.EndDateThird %}value="{{info.EndDateThird}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                        <td>课程天数</td>
                        <td class="td_left"><input {{readonly}}  id="teachdays_third" name="teachdays_third" class="input_text" type="text" value="{{info.TeachDaysThird}}" required>天</td >
                    </tr>

                    <tr>
                        <td>其他说明</td><td  class="td_left">
                            <input {{readonly}} id="other_desc" name="other_desc"  class="input_text" type="text" value="{{info.OtherDesc}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>教学负责人</td>
                        <td  class="td_left">
                            <select {{readonly}}  class="select userrole" name="charge_person" id="charge_person">
                                {% for item in charge_person %}
                                    <option class="select" {% if info.ChargePerson==item.UserId %}selected="selected"{% else %}''{% endif %} value="{{item.UserId}}" >{{item.UserName}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>安排日期</td>
                        <td  class="td_left"><input {{readonly}}  id="arrange_date" name="arrange_date" class="input_text" {% if info.ArrangeDate %}value="{{info.ArrangeDate}}"{% else %} value="{{"now"|date("Y-m-d")}}"{% endif %}  type="text" required></td>
                    </tr>
                </table>
                <div class="bottom_button">
                    <input type="text" id="id" name="id" hidden="hidden" value="{{info.Id}}"/>
                    <input type="text" id="header_master_id" name="header_master_id" hidden="hidden" value="{{info.HeaderMaster}}"/>
                    <input type="text" id="first_id"  name="first_id" hidden="hidden" value="{{info.TeacherFirst}}"/>
                    <input type="text" id="second_id"  name="second_id" hidden="hidden" value="{{info.TeacherSecond}}"/>
                    <input type="text" id="third_id"  name="third_id" hidden="hidden" value="{{info.TeacherThird}}"/>

                    <input type="button"  onclick="toClose({{mid}},{{pid}} )"  name="close" class="comm_button button_close" value="关闭"/>
                </div>
            </div>
        </form>
    </div>
</div>


