{# empty Twig template #}
<script src="{{url}}js/report/communicate.js" type="text/javascript"></script>
<?xml version="1.0" encoding="UTF-8"?>
<style>
    .error{
        color:red;
    }
</style>
<div>
    <div>
        <iframe name="myiframe" style="display:none;" onload="iframeLoad(this);"></iframe>
        <form action="../../modules/settlement/action/actionExpenditure.php" method="post"
              enctype='multipart/form-data' target="myiframe" id="commentForm" >
            <div class="set_content_tb" >
                <table>
                    <thead> <tr>
                            <th class="th_title">选择</th>
                            <th class="th_title">序号</th>
                            <th class="th_title">学员姓名</th>
                            <th class="th_title">身份证号</th>
                            <th class="th_title">联系方式</th>
                            <th class="th_title">已交费金额</th>
                            <th class="th_title">开票状态</th>
                            <th class="th_title">日期</th>
                        </tr></thead>
                        {% for item in list %}
                        <tr>
                            <th><input type='checkbox' name="line_check"/></th>
                            <th>{{item.Id}}</th>
                            <th>{{item.StudentName}}</th>
                            <th>{{item.StudentNum}}</th>
                            <th>{{item.StudentPhone}}</th>
                            <th>{{item.ChargeAmount}}</th>
                            <th>{% if item.IsBilling==0 %}可开票{% elseif item.IsBilling==1 %}已申请{% elseif item.IsBilling==2%}已开票{% endif %}</th>
                            <th>{{item.WriteDate|date('Y-m-d')}}</th>
                        </tr>
                    {% endfor %}
                    <tr><td>总金额： <input type="text" id="amount" name="amount" hidden="hidden" value="{{amount}}"/>{{amount}}</td></tr>
                </table>
                <div class="bottom_button">
                    <input type="text" id="id" name="id" hidden="hidden" value="{{id}}"/>
                    <input type="button" onclick="toClose({{mid}},{{pid}} )" name="close" class="comm_button button_close" value="关闭"/>
                </div>
            </div>
        </form>
    </div>
</div>


